* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 20px;
    background: #3C3A39;
     height: 94px;
}
h1 {
    font-family: poppins;
    font-weight: 700 bold;
    font-size: 18px;
    color: white;
    padding-left: 15px;
    text-transform: capitalize;

}
.fa-bars {
    font-size: 18px;
    color: white;
    padding-right: 20px;
}
.container {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     height: 100vh;
     background: #1C1A19;
}
.row {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
     width: 370px;
     margin-bottom: 60px;
     margin-right: 90px;
     margin-left: 60px;
}

h2 {
    font-family: 'Crete Round';
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.37px;
    color: #FF6B00;
    text-transform: capitalize; 
}
h3 {
    font-family: 'Roboto';
    font-weight: 700;
    margin-right: 50px;
    font-size: 24px;
    color: #FFF5E1;
}
p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    
}
