* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  background: #3c3a39;
  height: 94px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding-left: 15px;
  text-transform: capitalize;
}

.fa-bars {
  font-size: 18px;
  color: white;
  padding-right: 20px;
}

.container {
  display: flex;
  background-image: url('images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-color: #1c1a19;
  background-position: bottom right;
  align-items: center;
  align-content: center;
  position: relative;
}

h1 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 55px;
  color: #ff6b00;
  text-transform: capitalize;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  position: relative;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  padding: 20px 20px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  list-style: none;
  position: relative;
}

li {
  font-size: 20px;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  background: #1c1a19;
  color: white;
}

.fa-angellist {
  background: #1a1a19;
  color: white;
}

.fa-twitter-square {
  background: #1c1a19;
  color: white;
}

.fa-medium {
  background: #1c1a19;
  color: white;
}

.image {
  position: relative;
  justify-content: flex-end;
}

img {
  position: absolute;
  bottom: 3px;
}

li a i:hover {
  color: #ff6b00;
  cursor: pointer;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 115px;
  margin-bottom: 300px;
  padding: 20px 20px;
}
/*  WORK SECTION  */

.work-section {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  padding: 24px 24px;
}

.title1 {
  display: flex;
justify-content: center;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
 
}

.separator {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
}

.card-container {
  position: relative;
  margin-top: 120px;
  border: 1px solid #333;
}

.intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
  width: 320px;
}



.card-title {
  position: absolute;
  margin-top: 7px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 20px 20px;

}

.para-discrp1 {
  display: grid;
  align-items: center;
}

.para-sec1 { 
  position: static;
  width: 320px;
  height: 147px;
  margin-top: 65px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
  position: relative;
}

.buttons {
  display: flex                                                                      ;
  justify-content: center;
  align-content: center;
}

.skills {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  padding: 3px;
}

.see-project {
 position: absolute;
 margin-top: 20px;
 padding: 10px 10px;
}

button.see-project {
  display: flex;
  justify-content: flex-start;
  background: #ff6b00;
  width: 100px;

}

button {
  padding: 10px;
  background: white;

}

.title-sec { 
position: static;
width: 295px;
height: 81px;
left: 16px;
top: 8px;

font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
}

.sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.para-1 {
  position: absolute;
  width: 295px;
  height: 87px;
  left: 16px;
  top: 101px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;


color: #FFFFFF
}

.header-1 {
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  position: relative;
}

.card-section {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px 20px;
  margin-top: 100px;
  position: relative;
  border:  2px solid #1a1a19;
}

.card-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
}