* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  background: #3c3a39;
  height: 94px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding-left: 15px;
  text-transform: capitalize;
}

.fa-bars {
  font-size: 18px;
  color: white;
  padding-right: 20px;
}

.container {
  display: flex;
  background-image: url('images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-color: #1c1a19;
  background-position: bottom right;
  align-items: center;
  align-content: center;
}

h1 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 55px;
  color: #ff6b00;
  text-transform: capitalize;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.para {
  position: relative;
  margin-top: 18px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  padding: 20px 20px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  list-style: none;
  position: relative;
}

/* li {
  font-size: 20px;
} */

.fa-github {
  color: white;
}

.fa-linkedin {
  background: #1c1a19;
  color: white;
}

.fa-angellist {
  background: #1a1a19;
  color: white;
}

.fa-twitter-square {
  background: #1c1a19;
  color: white;
}

.fa-medium {
  background: #1c1a19;
  color: white;
}

.image {
  position: relative;
  justify-content: flex-end;
}

img {
  position: absolute;
  bottom: 3px;
}

li a i:hover {
  color: #ff6b00;
  cursor: pointer;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 115px;
  margin-bottom: 300px;
  padding: 20px 20px;
}
/*  WORK SECTION  */

.work-section {
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  gap: 12px;
  padding-top: 80px;

}

.title1 {
  display: flex;
justify-content: center;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
 
}

.separator {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 35px;
  margin-bottom: 81px;
}

.card-container {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px;
  overflow-y: hidden;
  margin-left: -9px;
}

.intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
  width: 320px;
}



.card-title {
  position: absolute;
  margin-top: 7px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 20px 20px;

}

.para-discrp1 {
  display: grid;
  align-items: center;
}

.para-sec1 { 
  width: 308px;
  height: 147px;
  margin-top: 65px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
  padding-left: 24p;
  color: #091E42;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* li {
  padding: 3px;
} */


.card-section1 {
  background-image: url(./images/img-1.png);
  height: 386px;
  width: 327px;
  margin: 12px;
}

li.list-item-1 {
  border: 1px solid;
  background-color: #fff;
  width: 56px;
  height: 43px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 12px;
  color: #091E42;
  line-height: 20px;
}

li.list-items-1 {
  border: 1px solid;
  background-color: #fff;
  width: 94px;
  height: 43px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 12px;
  color: #091E42;
  line-height: 20px;
}

ul.tech-list {
  display: inline-flex;
  list-style: none; 
  gap: 20px;
  padding-left: 24px;
}

ul.skill-list {
  display: inline-flex;
  list-style: none;
  padding-top: 16px;
  gap: 20px;
}


.btn {
  width: 327px;
  background-color: #ff6b00;
  color: #fff;
  height: 49px;
  padding-top: 93px;
  margin-top: 30px;
  padding: 5px;
}
.Profesional {
  width: 292px;
  color: #fff;
  padding-left: 24px;
  padding-top: 81px;
  font-size: 32px;
}
.list-item {
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.24);
  width: 56px;
  height: 43px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 12px;
  line-height: 20px;
  color: #FFFFFF;
}
.list-items {
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.24);
  width: 108px;
  height: 43px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.prg {
  width: 327px;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 24px;
  padding-bottom: 12px;
  font-weight: 400;
}